*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
*.ipr
*.iws
classes
gen-external-apklibs
build
local.properties
.DS_Store
tmp
*.swp
*.lock
profile
/keystore
