# build files ignores
/build
/app/build
/viewpagerindicator/build
/viewpagerindicator/build/
.gradle

# iml files ignores
viewpagerindicator/viewpagerindicator.iml
app/app.iml
tabi.iml

# git produced files
*.class
*.orig
*.REMOTE

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/libraries
**/.idea/dictionaries
**/.idea/.name
**/.idea/vcs.xml

# private files
*.priv
/local.properties
/buildsystem/sign.properties
/app/fabric.properties

# fabric
/app/session_analytics_to_send

# others
.DS_Store
