<?xml version="1.0" encoding="utf-8"?>
<manifest package="pl.ipebk.tabi"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Placeholder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".presentation.ui.details.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".presentation.ui.search.SearchActivity"
            android:theme="@style/AppTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.search.SearchActivity"/>
        </activity>
        <activity
            android:name=".presentation.ui.about.AboutAppActivity"
            android:parentActivityName=".presentation.ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.main.MainActivity"/>
        </activity>
        <activity
            android:name=".presentation.ui.feedback.FeedbackTypeActivity"
            android:parentActivityName=".presentation.ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.main.MainActivity"/>
        </activity>

        <activity android:name=".presentation.ui.feedback.FeedbackEntryActivity"
                  android:parentActivityName=".presentation.ui.feedback.FeedbackTypeActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.feedback.FeedbackTypeActivity"/>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b6da5b975f1016a9f9d5bbd45ef7244f820af050"/>
    </application>

</manifest>